.container
  #title
    span #{owner} is inviting you to
    h1 #{name}
  #siteName
    h1 #{siteName}
    span #{siteSlogan}

div.container.topMargin
  #leftSide
    #message #{message}
  #sideBar
    #currentPerson
      span
        .name #{user.name} (#{user.email})
      - if (user.reply == 'yes')
        span.actionTaken Yes
      - else
        a(href='#', id='action-yes', class='action') Yes
      |  -
      - if (user.reply == 'no')
        span.actionTaken No
      - else
        a(href='#', id='action-no', class='action') No
      |  - 
      - if (user.reply == 'maybe')
        span.actionTaken Maybe
      - else
        a(href='#', id='action-maybe', class='action') Maybe
    h2 Yes (#{people.counts['yes']})
    - each u in people['yes']
      .person
        #{u.name}
    h2 No (#{people.counts['no']})
    - each u in people['no']
      .person
        #{u.name}
    h2 Maybe (#{people.counts['maybe']})
    - each u in people['maybe']
      .person
        #{u.name}
    h2 No Reply (#{people.counts['noreply']})
    - each u in people['noreply']
      .person
        #{u.name}
div.container#footer.topMargin
  span Built with 
  a(href:'http://nodejs.org/') node.js
    
